<ActionBar title="My NG Demo" class="action-bar">
</ActionBar>
<GridLayout rows="*, auto" columns="*" class="page">
    <Pager [items]="items | async" #pager [selectedIndex]="currentPagerIndex" (selectedIndexChanged)="onIndexChanged($event)" class="pager">
        <ng-template pagerItemTemplate let-i="index" let-item="item">
            <GridLayout class="pager-item" rows="auto, *" columns="*" backgroundColor="red">
                <Label [text]="item.title"></Label>
                <Image stretch="fill" row="1" [src]="item.image"></Image>
            </GridLayout>
        </ng-template>
    </Pager>

    <DockLayout row="1" orientation="horizontal" stretchLastChild="true" class="bg-primary">
        <Button dock="left" text="Prev" (tap)="prevPage()" class="btn btn-primary"></Button>
        <Button dock="right" text="Next" (tap)="nextPage()" class="btn btn-primary"></Button>
        <Button text="nav" [nsRouterLink]="['/dummy']" class="btn btn-primary"></Button>
    </DockLayout>
</GridLayout>