<ActionBar title="My NG Demo" class="action-bar">
</ActionBar>
<GridLayout rows="auto,auto,auto,*, auto" columns="*" class="page">
    <Button text="Multi Template" [nsRouterLink]="['/multi']" class="btn btn-primary"></Button>
    <Button row="1" text="Pager With List" [nsRouterLink]="['/list']" class="btn btn-primary"></Button>
    <Button row="2" text="Pager With Static Content" [nsRouterLink]="['/static']" class="btn btn-primary"></Button>
    <Pager row="3" [items]="items | async" loadMoreCount="5" #pager [selectedIndex]="currentPagerIndex" (selectedIndexChange)="onIndexChanged($event)" class="pager"
        backgroundColor="lightsteelblue">
        <ng-template let-i="index" let-item="item">
            <GridLayout class="pager-item" rows="auto, *" columns="*" backgroundColor="red">
                <Label [text]="item.title"></Label>
                <Image heighht="300" (loaded)="loadedImage($event)" stretch="fill" row="1" [src]="item.image"></Image>
            </GridLayout>
        </ng-template>
    </Pager>

    <DockLayout row="4" orientation="horizontal" stretchLastChild="true" class="bg-primary">
        <Button dock="left" text="Prev" (tap)="prevPage()" class="btn btn-primary"></Button>
        <Button dock="right" text="Next" (tap)="nextPage()" class="btn btn-primary"></Button>
        <Button text="nav" [nsRouterLink]="['/dummy']" class="btn btn-primary"></Button>
    </DockLayout>
</GridLayout>
