*.js
*.js.map
*.log
*.ngFactory.ts
*.metadata.json
!scripts/*.js
src/**/*.d.ts
demo/app/*.js
demo/*.d.ts
demo/lib
demo/hooks
demo/platforms
demo/node_modules
demo-ng/app/*.js
demo-ng/*.d.ts
demo-ng/hooks
demo-ng/lib
demo-ng/platforms
demo-ng/node_modules
angular/compiled
node_modules
.vscode
.idea
.nsbuildinfo
.nslivesyncinfo