<ActionBar title="Static" class="action-bar">
</ActionBar>
<GridLayout rows="auto,*" columns="*" class="page">
	<Button text="Single Template" [nsRouterLink]="['/test']" class="btn btn-primary"></Button>
	<Pager backgroundColor="orange" row="1" #pager [selectedIndex]="1" height="100%">
		<StackLayout *pagerItem backgroundColor="red">
			<Label text="First"></Label>
		</StackLayout>
		<StackLayout *pagerItem backgroundColor="white">
			<Label text="Second"></Label>
		</StackLayout>
		<StackLayout *pagerItem backgroundColor="black">
			<Label text="Third" color="white"></Label>
		</StackLayout>
		<StackLayout *pagerItem backgroundColor="green">
			<Label text="Fourth"></Label>
		</StackLayout>
	</Pager>
</GridLayout>
